<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.spring.mapper.GoodsMapper">
    <select id="getwarnGoods" resultType="Goods">
             SELECT * FROM goods WHERE  <![CDATA[goods.`GRest` < goods.`LowLimit`
                      ORDER BY goods.`GRest`-goods.`LowLimit`]]>;
    </select>
</mapper>
