<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.spring.mapper.GuestinfoMapper">

    <select id="getGestInfo" resultType="com.demo.spring.vo.GuestInfo">
         SELECT * FROM USER,guestinfo WHERE user.`Uid`=guestinfo.`Uid` AND user.`Uid`=#{uid};
    </select>

</mapper>
